html {
  scroll-padding-top: 80px; 
}
body {
  scroll-behavior: smooth;
  margin: 0 auto;
  height: 100%;
  background-color: #f0f0f0;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

section {
  scroll-margin-top: 180px;
  margin-top: 3.5rem;
}
img {
  width: auto;
  height: auto;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  font-family: "Gordita", sans-serif;
  font-weight: 400;
}

h1 {
  font-family: "Gordita", sans-serif;
  font-weight: 500;
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-family: "Adelle", sans-serif;
  font-weight: 600;
}
h3 {
  font-size: 1rem;
  font-family: "Gordita", sans-serif;
  font-weight: 700;
}
ul,
ol,
p {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Gordita", sans-serif;
  font-weight: 400;
}
p {
  text-align: justify;
}
button {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
 
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 0.9rem;
    font-family: "Gordita", sans-serif;
    font-weight: 700;
  }
  p {
    font-family: "Gordita", sans-serif;
    font-size: 1rem;
  }
  li {
    font-size: 1rem;
    font-family: "Gordita", sans-serif;
  }
  section {
    scroll-margin-top: 180px;
    margin-top: 2rem;
  }
  button {
    font-size: 1.5rem;
  }
}
