@font-face {
    font-family: 'Adelle';
    src: url('./fonts/AdelleBoldCnd/font.woff2') format('woff2'),
         url('./fonts/AdelleBoldCnd/font.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Adelle';
    src: url('./fonts/AdelleHeavyCnd/font.woff2') format('woff2'),
         url('./fonts/AdelleHeavyCnd/font.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Adelle';
    src: url('./fonts/AdelleLight/font.woff2') format('woff2'),
         url('./fonts/AdelleLight/font.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Adelle';
    src: url('./fonts/AdelleRegularCnd/font.woff2') format('woff2'),
         url('./fonts/AdelleRegularCnd/font.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Adelle';
    src: url('./fonts/AdelleSemibold/font.woff2') format('woff2'),
         url('./fonts/AdelleSemibold/font.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gordita';
    src: url('./fonts/Gordita/font.woff2') format('woff2'),
         url('./fonts/Gordita/font.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gordita';
    src: url('./fonts/GorditaBold/font.woff2') format('woff2'),
         url('./fonts/GorditaBold/font.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gordita';
    src: url('./fonts/GorditaBoldItalic/font.woff2') format('woff2'),
         url('./fonts/GorditaBoldItalic/font.woff') format('woff');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Gordita';
    src: url('./fonts/GorditaLight/font.woff2') format('woff2'),
         url('./fonts/GorditaLight/font.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gordita';
    src: url('./fonts/GorditaLightItalic/font.woff2') format('woff2'),
         url('./fonts/GorditaLightItalic/font.woff') format('woff');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Gordita';
    src: url('./fonts/GorditaMedium/font.woff2') format('woff2'),
         url('./fonts/GorditaMedium/font.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gordita';
    src: url('./fonts/GorditaMediumItalic/font.woff2') format('woff2'),
         url('./fonts/GorditaMediumItalic/font.woff') format('woff');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Gordita';
    src: url('./fonts/GorditaRegularItalic/font.woff2') format('woff2'),
         url('./fonts/GorditaRegularItalic/font.woff') format('woff');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Gordita';
    src: url('./fonts/GorditaThin/font.woff2') format('woff2'),
         url('./fonts/GorditaThin/font.woff') format('woff');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gordita';
    src: url('./fonts/GorditaThinItalic/font.woff2') format('woff2'),
         url('./fonts/GorditaThinItalic/font.woff') format('woff');
    font-weight: 100;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Gordita';
    src: url('./fonts/GorditaBlack/font.woff2') format('woff2'),
         url('./fonts/GorditaBlack/font.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gordita';
    src: url('./fonts/GorditaBlackItalic/font.woff2') format('woff2'),
         url('./fonts/GorditaBlackItalic/font.woff') format('woff');
    font-weight: 900;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Gordita';
    src: url('./fonts/GorditaUltra/font.woff2') format('woff2'),
         url('./fonts/GorditaUltra/font.woff') format('woff');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gordita';
    src: url('./fonts/GorditaUltraItalic/font.woff2') format('woff2'),
         url('./fonts/GorditaUltraItalic/font.woff') format('woff');
    font-weight: 800;
    font-style: italic;
  }