.main-container {
  display: flex;
  position: relative;
  height: 100vh; 
  width: 100%;
  
}

.content-container {
  flex-grow: 1;
  overflow-y: auto;
  background-color: white;
  overflow-x: hidden
}
@media (max-width: 768px) {
  .main-container {
      flex-direction: column;
      background-color: white;
      overflow-x: hidden; /* Skryje jakýkoliv horizontální posuvník na mobilu */
  }
  
  .content-container {
      width: 100%; /* Zajistí, že obsah je vždy 100% šířky v mobilním zobrazení */
  }
}